*{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
a:hover {
    text-decoration: underline;
  }

a{
    text-decoration: none;
}
h1{
    text-align: right;
}

div{
    border-style: dashed;
    border-width: 3px;
    padding: 3px;
    display: inline-block;
    text-align: center;
}
img{
    width:200px;
    height: 200px;
    border: 5px solid white;
    padding:3px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

